venv/
*/venv/
envs/
__pycache__/
*.__pycache__py
*.__pycache__
*.pyc
*.pyo
env/
backend/xgboost_scripts/test_results/
backend/xgboost_scripts/training_data/
backend/xgboost_scripts/datasets/
.DS_Store